*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333333;
    margin: 10px 10px;
    font-family:inter ;
}
    
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #B1A592 2px solid; 
    /* background-color: black; */
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}
.company{
    background-color: #323025;
    color:  #B1A592 ;
    padding: 4px 25px;
    border: 1px solid  #323025 ;
    border-radius: 18px;
}
.btn{
    background-color:#333333;
    color:  #B1A592;
    border: #B1A592 solid 1px;
    padding: 5px 25px;
    border-radius: 18px;
}
a{
    text-decoration: none;
}

/* Middle Section */
.Middle-container{
    

}
.mid-left{
    background-color:  #DFD6C5;
    color: #323025;
    width: 35%;
    display: flex;
    flex-direction: column;
    padding:2%;
    border: 1px solid DFD6C5 ;
    border-radius: 18px;
    gap: 10px;
}
.pic1{
    width: 34vw;
     /* margin-top: 10px;
    margin-bottom: 10px;  */
}
.bottom-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text{
    display: inline !important;
    color:  #323025;
    /* border: 1px #323025 solid;
    border-radius: 18px; */
}
.start{
  color: #333333;

}
/* mid-right-top-left */
.mid-right-top{
    background-color:  #8E886D;
    width: 55vw;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 1px solid #8E886D;
    border-radius: 18px;
}
.mid-right-top-left{
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    justify-content: space-around;
    width: 50%;

}
.pic2{
    width:100%;
}
.mid-right-top-top{
    display: flex;
    flex-direction: row;
    /* border: #DFD6C5 1px solid; */
    /* margin: 2%; */
    justify-content: space-between;

}

.bottom-left-container{
    display: flex;
    flex-direction: column;
    background-color: #916E58;
    width: 35%;
    padding: 2%;
    /* justify-content: space-between; */
    gap: 15px;
    border: 1px solid #916E58;
    border-radius: 18px;
}
.mid-right-bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}
.mid-right-bottom-right{
    display: flex;
    flex-direction: column;
    background-color: #B1A48E;
    padding: 2%;
    border: 1px solid #B1A48E ;
    border-radius: 18px;
    gap: 25px;
}
.top-portion{

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap:  15px;
}
hr{
    color:  #333333;
}
.mid-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mid-right-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}
.logo{
    width: 50px;
}
.Middle-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
